.event-view {
  background: url('../images/sg-event.jpeg');
  background-size: cover;
  width: 100%;
  height: 600px;
}

.upcoming {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  color: #FFF;
  padding-top: 80px;
  & p {
    background: rgba(95,95,95, 0.8);
  }
}
