.footer-el {
  text-align: center;
  background: #1B1819;
  padding: 15px 0;
  & a {
    text-decoration: none;
    color: #207C7C;
    font-size: 40px;
    padding: 5px 15px;
  }
}


.social-text {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  font-family: "allura";
  color: #207C7C;
  padding-top: 20px;
  padding-right: 0;
}

.copyright {
  color: #207C7C;
  font-size: 10px;
  font-family: 'open sans';
}
